@{
    Layout = "~/Views/Master/_OuterLayout.cshtml";
}


@section headerscripts{
    @RenderSection("headerscripts", false)
}
@section SettingsArea{
    Logged in as @PresentationLayer.Common.SessionData.LoggedInUser.Email | @Html.ActionLink("Logout", "Logout", "General")
}
@section TopMenuBar{
    <div class="TopMenuItem" id="ModelsMenuItem">
        @Html.ActionLink("Feature Models", "Models", "Models")
    </div>
    <div class="TopMenuItem" id="ModelsMenuItem">
        @Html.ActionLink("UI Templates", "UITemplates", "UITemplates")
    </div>
    <div class="TopMenuItem" id="ConfigurationsMenuItem">
        @Html.ActionLink("Configurations", "Configurations", "Configurations")
    </div>
}
@section SubMenuBar{
    <div class="BreadCrumbRoot">
        @RenderSection("RootBreadCrumb", false)
    </div>
    @RenderSection("SubMenuSpecialBar", false)
    
}


@RenderBody()